html,
body {
	color: #5a5a5a;
	padding: 40px 0 0;
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,
#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
	border-top: solid 1px #cccccc;
}

#footer p,
#footer ul {
	margin: 20px 0;
}

#footer .logo {
	text-align: center;
}

.featurette-divider {
	margin: 80px 0;
}

.navbar-inverse .navbar-inner {
	background-color: #ffffff;
	background-image: none;
	border-color: #cccccc;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
	color: #5a5a5a;
	text-shadow: none;
}

.navbar-inverse .brand {
	padding: 14px 20px 16px;
	font-size: 16px;
	font-weight: bold;
}

.navbar-inverse .nav > li > a {
	padding: 15px 20px;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
	color: #7c7c7c;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
	color: #7c7c7c;
}

.hero-unit {
	margin-top: -70px;
	background-color: #f5f5f5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: solid 1px #cccccc;
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
	background-color: #ffffff;
}

.navbar-inverse .btn-navbar {
	background-color: #ffffff;
	background-image: none;
	border-color: #ffffff;
	text-shadow: none;
}

.navbar .btn-navbar .icon-bar {
	background-color: #5a5a5a;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.signup {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
}

.signup input[type="text"],
.signup input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.form-register,
.form-signin {
	max-width: 600px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-register .form-register-heading,
.form-signin .form-register-heading,
.form-register .checkbox,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-register input[type="text"],
.form-register input[type="password"],
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.home-marketing {
	text-align: center;
}

h1.market {
	margin-bottom: 40px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

.home-marketing h2 {
	font-weight: normal;
}

#logo {
	color: inherit;
}

#logo:hover {
	text-decoration: none;
}

#items th.action,
#items td.action {
	text-align: center;
}

@media (max-width: 767px) {
	#footer,
	.hero-unit {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.hero-unit {
		margin-top: -20px;
	}
}